/**
*
* Default styles utilized on the site. 
*
**/


// Box Sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Clear Function
.cf:before, .cf:after {content: ""; display: table;} 
.cf:after {clear: both;}
.cf {zoom: 1;}

// General
body {
	@include font(font-tisa);
	background: $color-eggshell;
	font-size: 16px;
	color: $color-brown;
}

h1, h2, h3, h4, h5, h6 {
	@include font(font-brandon);
	position: relative;
	line-height: $headline-line-height;
	margin-bottom: $headline-bottom-margin;
	text-transform: uppercase;

	a {
		color: $color-href;
	}
}

h1 {
	font-size: ($h1-font-size * .75);
	@include mq-min-medium {
		font-size: ($h1-font-size * .80);
	}
	@include mq-min-large {
		font-size: $h1-font-size;
	}
	@include mq-min-xlarge {
		font-size: ($h1-font-size * 1.10);
	}
}

h2 {
	font-size: ($h2-font-size * .75);
	@include mq-min-medium {
		font-size: ($h2-font-size * .80);
	}
	@include mq-min-large {
		font-size: $h2-font-size;
	}
	@include mq-min-xlarge {
		font-size: ($h2-font-size * 1.10);
	}
}

h3 {
	font-size: ($h3-font-size * .75);
	@include mq-min-medium {
		font-size: ($h3-font-size * .80);
	}
	@include mq-min-large {
		font-size: $h3-font-size;
	}
	@include mq-min-xlarge {
		font-size: ($h3-font-size * 1.10);
	}
}

h4 {
	font-size: ($h4-font-size * .75);
	@include mq-min-medium {
		font-size: ($h4-font-size * .80);
	}
	@include mq-min-large {
		font-size: $h4-font-size;
	}
	@include mq-min-xlarge {
		font-size: ($h4-font-size * 1.10);
	}
}

h5 {
	@include font(font-tisa);
	font-size: ($h5-font-size * .75);
	font-weight: bold;
	@include mq-min-medium {
		font-size: ($h5-font-size * .80);
	}
	@include mq-min-large {
		font-size: $h5-font-size;
	}
	@include mq-min-xlarge {
		font-size: ($h5-font-size * 1.10);
	}
}

h6 {
	@include font(font-tisa);
	font-weight: bold;
	font-size: $h6-font-size;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: $paragraph-bottom-margin;
	@extend %font-smoothing;
}

a {
	color: $color-href;
	text-decoration: none;

	&:hover {
		color: $color-href-hover;
		text-decoration: underline;
	}
}


code {
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	background-color: #FFF;
	border-radius: 4px;
	color: lighten($color-blue, 10);
	padding: 4px 5px;
	font-size: 15px;
}