/**
*
* Define and include @font-face in here or other outside services for fonts.
*
**/

@font-face {
    font-family: 'Brandon-Grotesque';
    src: url('fonts/brandon_reg-webfont.eot');
    src: url('fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg'),
         url('fonts/brandon_reg-webfont.woff') format('woff'),
         url('fonts/brandon_reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Grotesque';
    src: url('fonts/brandon_med-webfont.eot');
    src: url('fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg'),
         url('fonts/brandon_med-webfont.woff') format('woff'),
         url('fonts/brandon_med-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Grotesque';
    src: url('fonts/brandon_bld-webfont.eot');
    src: url('fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg'),
         url('fonts/brandon_bld-webfont.woff') format('woff'),
         url('fonts/brandon_bld-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FF-Tisa4";
    src: url('fonts/TisaCompPro-Light.eot');
    src: url('fonts/TisaCompPro-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/TisaCompPro-Light.woff') format('woff'),
         url('fonts/TisaCompPro-Light.ttf') format('truetype'),
         url('fonts/TisaCompPro-Light.svg#TisaCompPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?30255345');
  src: url('fonts/fontello.eot?30255345#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?30255345') format('woff'),
       url('fonts/fontello.ttf?30255345') format('truetype'),
       url('fonts/fontello.svg?30255345#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}