// Convert pixels into em units
@function em($px, $context: 16) {
    @return ($px/$context)+0em;
}    

// Colors
$color-brown: #322f31;
$color-blue: #1e85d4;
$color-orange: #ee7421;
$color-orange-logo: #f58026;
$color-yellow: #f7f0b5;
$color-grey-light: #818285;
$color-grey-light-alt: #6e6d6e;
$color-grey-dark: #4d494c;
$color-grey-medium: #3f3b3d;
$color-eggshell: #e6e5e1;
$color-eggshell-light: #eeedeb;
$color-eggshell-dark: #dbdbd9;

$color-href: #ee7421;
$color-href-hover: #ee7421;

// Structure
$gutter: em(10);
$max-width: em(1280); 

// Horizontal Gutter
$gutter-small-horizontal: 10px;
$gutter-medium-horizontal: 20px;
$gutter-large-horizontal: 40px;

// vertical Gutter
$gutter-small-vertical: 10px;
$gutter-medium-vertical: 20px;
$gutter-large-vertical: 40px;

// Headlines
$h1-font-size: em(44);
$h2-font-size: em(37);
$h3-font-size: em(27);
$h4-font-size: em(23);
$h5-font-size: em(18);
$h6-font-size: 1em;
$headline-line-height: 1.1em;
$headline-bottom-margin: .5em; 

// Paragraphs
$paragraph-font-size: 1em;
$paragraph-bottom-margin: em(20);

// Media Queries
$m-query: false !default;

$mq-min-small: em(480); /* phones landscape up */
$mq-min-medium: em(768); /* tablets up */
$mq-min-large: em(960); /* desktops & tablets landscape up */
$mq-min-xlarge: em(1440); /* large desktops up */

$mq-max-mini: em(479); /* phone portrait down */
$mq-max-small: em(767); /* phones landscape down */
$mq-max-medium: em(959); /* tablet portrait down */
$mq-max-large: em(1439); /* desktops down */






