//Constants and set-up
.inner-section
	margin: 0 auto
	max-width: $max-width
	width: 100%
	padding: 0 $gutter-medium-vertical
.divider
	width: 100%
	height: 5px
	margin: $gutter-medium-vertical 0
.green
	background-color: $color-pea-green
.grey
	background-color: $color-divider-grey
.white
	background-color: #fff
.orange
	color: $color-pumpkin-orange
.red
	color: $color-closed-red
.sky-blue
	color: $color-sky-blue
.no-margin
	margin: 0
	margin-before: 0
	margin-after: 0
.v-left
	float: left
	padding: 15px
	margin-right: 17px
	width: 48%
	border-right: $border-styling
.v-right
	float: left
	width: 48%
	padding-top: 15px
.call
	@include font("chaparral-pro-display")
	a
		color: #fff
.bebas-neue
	@include font("font-bebas-neue")
article
	header
		background-color: $color-body-blue
@include mq-max-small
	.inner-section
		padding: 0 $gutter-small-horizontal
	.v-left, .v-right
		width: 100%
		margin-right: 0
		border-right: none
//Home
.tagline
	background-color: $color-not-black
	h3
		text-transform: uppercase
		margin: 0 auto
		text-align: center
.slider
	img
		margin-bottom: $gutter-medium-vertical
.features
	margin: 0 auto
	width: 100%
	li
		float: left
		margin: $gutter-small-vertical $gutter-small-horizontal
.events
	background-color: $color-pale-teal
	border-right: none

	h2
		color: $color-navy-blue
	h3
		margin-bottom: 0px
	h4
		display: inline
	a
		color: $color-navy-blue
	img
		margin-left: $gutter-small-horizontal
	article
		margin-bottom: 30px
		h3
			color: #d1372a
			display: block
		h4
			color: #454444
			margin: 5px 0
		p
			color: #454444

.events-right
	h3
		margin-bottom: 0
.mysterybox
	background-color: #000
	height: 325px
.newsletter
	padding: 5px 15px
.follow
	padding: 5px 15px
	img
		margin-right: $gutter-medium-horizontal
@include mq-max-medium
	.features
		padding: 5px 20px
		li
			&:nth-of-type(2n)
				float: right
			&:nth-of-type(2n+1)
				float: left
@include mq-max-small
	.slider
		display: none
	.tagline
		display: none
	.features
		li
			float: none
		img
			display: block
			margin-left: auto
			margin-right: auto
	.mysterybox
		display: none



//About
h3.department-header
	color: $color-closed-red
	background-color: $color-sky-blue
	line-height: 72px
	padding-left: 1.9%
.department-list
	padding-bottom: 40px
	ul
		margin: 0 auto
		width: 97.175%
	li
		float: left
		margin-right: $gutter-medium-vertical
		&:nth-of-type(3n)
			margin-right: 0


	h4
		font-size: $h1-font-size
		text-align: center
		background-color: $color-transparent-black
		margin-top: -39px
		margin-bottom: 15px
@include mq-max-medium
	h3.department-header
		color: #fff
		background-color: $color-body-blue
		font-size: $h3-font-size
		color: #fff
	.department-list
		li
			&:nth-of-type(3n)
				margin-right: $gutter-medium-vertical
@include mq-max-small
	h3.department-header
		color: #fff
		background-color: $color-body-blue
		font-size: $h3-font-size
	.department-list
		li
			float: none
			display: block
			margin-left: auto
			margin-right: auto
			&:nth-of-type(3n)
				margin-right: auto
		img, h4
			display: block
			margin-left: auto
			margin-right: auto
//Deli
.deli
	position: relative
	img
		float: left
		position: absolute
		top: 15px
		left: -7px
.d-location
	float: right
	width: 90%
	text-align: center
	padding: 26px
	padding-left: 40%
	background-color: $color-dark-navy
	margin-top: 113px
	margin-bottom: 125px
	h4
		@include font("font-bebas-neue")
	h4, p
		font-size: $h1-font-size
	h4
		color: $color-sky-blue
	p
		float: left
		margin: 0 auto
		margin-right: 1.75%
		line-height: 1em
	a
		font-size: 24px

	a.orange
		font-size: 1.25em
		@include font("font-bebas-neue")
.express
	.d-location
		width: 62%
		margin-top: 0px
		padding-left: 25%
	img
		top: -80px
		left: 250px
	a.orange
		padding-right: 85px
.our-deli
	background-color: $color-dark-navy
	padding: $gutter-medium-vertical 5px
	margin-bottom: $gutter-large-vertical
.food-feed
	padding-left: 8px
	width: 55%
	border: none
	margin-right: 0
	img
		margin: 0
.specials
	border-left: $border-styling
	width: 43%
	padding-left: 17px
	img
		margin-bottom: 35px
		display: block
		margin-left: auto
		margin-right: auto
.deli, .specials
	.divider
		display: none
		background-color: $color-pumpkin-orange

@include mq-max-medium
	.deli
		img
			width: 40%
			left: 19px
			top: 25px
	.express
		img
			width: 34%
			left: 190px
			top: -80px
	.d-location
		h4, p, a
			font-size: 21px

	.specials, .food-feed
		width: 100%
		border: none
		h4, p
			display: none
		img
			display: inline-block
	.specials
		margin-top: 20px
		padding-top: 0
		padding-left: 0
		img
			float: left
			margin-left: 10px
			&:nth-of-type(2n)
				float: right
				margin-right: 10px
	.food-feed
		border-bottom: $border-styling
		padding-bottom: 20px
@include mq-max-small
	.deli
		.dot
			display: none
		img
			position: relative
			top: 0
			left: 0
			margin-top: 10px
			width: 90%
			margin-left: auto
			margin-right: auto
			display: block
			float: none
		a.orange
			padding-top-top: 5px
	.d-location
		padding: 24px
		padding-top: 160px
		padding-bottom: 130px
		margin-top: -140px
		margin-bottom: 0px
		display: block
		margin-left: auto
		margin-right: auto
		width: 73%
		text-align: center
		float: none
		h4
			display: none
		p
			float: none
			font-size: 23px
			line-height: 1.5em
		.call
			font-size: 15px
			line-height: 1em
	.express
		img
			margin-top: -85px
		.d-location
			width: 73%
			padding: 24px
			padding-top: 180px
			margin-top: -180px
			margin-left: auto
			margin-right: auto
			a
				padding-right: 0
	.food-feed
		display: none
	.our-deli
		display: none
	.specials
		h4, p
			display: none
		img
			display: block
			margin-left: auto
			margin-right: auto
			margin-bottom: 10px
			float: none
			&:nth-of-type(2n)
				float: none
				margin-right: auto

	.deli, .specials
		.divider
			display: block


//Locations
.google-maps-placeholder
	margin-bottom: 27px
.location
	position: relative
	header
		width: 48%
		display: inline-block
		text-align: center
		clear: none
		h4:first-child
			margin-top: 50px
	h3
		display: inline
		position: absolute
		text-align: right
		top: 220px
		left: 27.6%
		@include font("komika_axisregular")
	p
		margin: 15px 0px
		font-size: 1.479em
	h4
		font-size: $h1-font-size
		display: inline-block
.location-img
	width: 50.47%
	display: inline
	float: left
.location-nav
	margin: 0 auto
	margin-left: 30px
	a
		float: left
		margin-right: 10px
		font-size: $h4-font-size
		@include font("font-house-slant")
		background-repeat: no-repeat
		height: 47px
		padding-top: 5px
		&:first-of-type
			margin-right: 5.7%
			color: $color-pumpkin-orange
			background-image: url("images/red-arrow-left.png")
			background-position: left top 5px
			padding-left: 55px
		&:nth-of-type(2)
			background-image: url("images/red-arrow-right.png")
			background-position: right
			padding-right: 60px
@include mq-max-small
	.google-maps-placeholder
		display: none
	.location
		margin-top: $gutter-small-vertical
		margin-bottom: 14px
		h3
			font-size: $h1-font-size
			display: relative
			top: 45%
			left: 24%
			line-height: 0.75em
			span
				font-size: 0.75em

		h4, p
			font-size: 1em
			margin-bottom: 0
			margin-top: 0
			line-height: 1.25em
		p
			font-size: 0.85em
		p:last-child
			display: none
		header
			text-align: left
			margin-left: 3px
			width: 43%
			span
				display: none
	.location-img
		width: 54%
	.location-nav
		display: none


//Store Resources
.resource
	h1
		border-bottom: $border-styling
	h2
		margin-top: 60px
		text-transform: none
		@include font("chaparral-pro-display")
		font-weight: 600
	.v-right
		h2
			margin-top: 27px
.download-img
	margin: 35px 15px
	img
		float: left
		width: 29%
	h2
		display: inline
		margin-left: 50px
		font-size: $h1-font-size
		&:nth-of-type(2n+1)
			padding-top: 20px
	a
		color: $color-sky-blue

//Blog Post formatting
.blog
	h1
		font-size: $h3-font-size
	h3
		font-size: $h1-font-size
	.v-divide
		border-bottom: $border-styling
	.v-left
		width: 78%
		margin-right: 0px
		padding-right: 20px
	.v-right
		width: 18.095%
		h3
			background-color: $color-pale-teal
			color: $color-body-blue
			text-align: center
		li
			margin-left: 20px
			margin-bottom: 75px
		p
			font-size: 0.8em

	aside
		padding-bottom: 40px
		li
			float: left
			margin-left: 20px
@include mq-max-small
	.blog
		.v-left, .v-right
			width: 100%
			margin-right: 0
			border: none
		.v-right
			img, p
				display: block
				margin-left: auto
				margin-right: auto
				text-align: center
				font-size: 1.3em


//Search Page
.results
	width: 73%
.pop-search
	width: 23.8%
	h4
		padding-left: 32px
	li
		@include font("font-house-slant")
		font-size: 1.25em
		margin-bottom: 45px
		a
			color: $color-sky-blue
.search-form
	height: 60px
	margin-top: 75px
	margin-bottom:	50px
.search-field
	@include font("font-house-slant")
	font-size: $h1-font-size
	width: 69%
	height: 60px
	background-color: #efedee
	border: none
	padding-left: 15px
	padding-top: 15px
	color: $color-divider-grey
.search-submit
	width: 38px
	height: 40px
	background-image: url('images/search-bar.png')
	border: none
	background-color: #efedee
	margin-left: -50px
#clear
	display: hidden

//Sales
.sales
	width: 67.5%
	div
		margin-bottom: 6px
		article
			width: 169px
			height: 250px
			float: left
			margin-right: 5px

			&:nth-of-type(4n)
				margin-right: 0

		header
			color: $color-body-blue
			font-size: $h1-font-size
			padding: 12px 0 12px 1.25em
			@include font("font-house-slant")
			margin-bottom: 5px
		ul
			background-color: $color-transparent-black
			margin-top: -70px
		li
			@include font("chaparral-pro-display")
			font-size: 14px
			line-height: 1.25em
			&:first-child
				font-weight: bold
	div:first-of-type
		header
			background-color: $color-closed-red
	div:nth-of-type(2)
		header
			background-color: $color-pumpkin-orange
	div:nth-of-type(3)
		header
			background-color: $color-pea-green
	div:nth-of-type(4)
		header
			background-color: $color-sky-blue
	div:nth-of-type(5)
		header
			background-color: $color-pale-teal
	.sales-hide-grocery, .sales-hide-supplements, .sales-hide-personal, .sales-hide-beer, .sales-hide-bulk
		display: none
		&:active
			div
				display: block

//Events
.event-page
	padding-top: 20px
	padding-bottom: 40px
.event-page	header
	background-image: url('images/events-ribbon.png')
	background-repeat: no-repeat
	background-color: $color-body-blue
	color: $color-pale-teal
	height: 128px
	padding-top: 23px
	padding-left: 50px
	float: left
	width: 100%
	z-index: 1000
.event-page	.events
	width: 67%
	display: inline-block
	margin-left: 21px
	margin-top: -143px
	padding-top: 197px
	z-index: 10
	float: left


	article
		padding-left: 34px
		margin-bottom: 85px
	span
		color: $color-closed-red

.living-room
	display: inline-block
	width: 29%
	padding-left: 22px
	img
		display: block
		margin-left: auto
		margin-right: auto