
//Styling that applies only to the footer of the site.
footer
	width: 100%
	margin: 0 auto
	background-color: $color-navy-blue

	img
		margin: 0 auto
		display: block
		margin-bottom: 25px
		clear: both
.copyright
	background-color: $color-copyright-blue
	width: 100%
	p
		margin: 0 auto
		font-size: 1em
		text-align: center