//Styling that applies only to the header of the site.
header
	margin: 0 auto
	background-color: $color-navy-blue
	clear: both
	
	.divider
		height: 5px
		border:
			width: 1px 0
			color: #93b264
	div
		margin: 0 auto

.store-open 
	.oc-message, .oc-border
		background-color: $color-pea-green
.store-closed 
	.oc-message, .oc-border
		background-color: $color-closed-red

.oc-message
	h2
		color: $color-navy-blue
		margin: 0 auto
		text-align: center
.oc-border
	height: $gutter-small-horizontal
@include mq-max-medium
	.oc-message
		h2
			font-size: 1.5em
