
// Styling that applies only to the global navigation of the site.
.branding-nav
	background-color: $color-navy-blue
	width: 1050px
	img
		float: left
		margin: $gutter-small-vertical $gutter-small-horizontal
	.search
		float: right
		margin-top: $gutter-large-vertical
nav
	margin: 0 auto
	max-width: 1050px
	li
		font-size: 2.21875em
		color: $color-href
		text-transform: uppercase
		@include font("font-house-slant")
		a
			&:hover
				color: $color-sky-blue
.headnav
	display: inline-block
	margin-top: 35px
	margin-left: 1.9%
	li
		float: left

.footnav
	ul
		margin: 0 auto

	li
		float: left
		list-style: none
		font-size: $h4-font-size
		margin-top: $gutter-large-vertical
		margin-bottom: 30px
#menu-icon
	display: none
	width: 34px
	height: 34px
	background: url("images/menu-dropdown.png") center
.dot:last-of-type
	display: none


@include mq-max-medium
	.branding-nav
		width: 100%
		img
			float: none
			margin: 6px 6% 6px 6%
			width: 151px
		.search
			float: left
			width: 51px
			margin: 9px 0 9px 6px
	#menu-icon
		display: inline-block
		float: right
		margin-top: 30px
		margin-right: 20px
	.headnav ul, .headnav:active ul
		display: block

	nav li, .footnav li
		width: 100%
		text-align: center
		border-width: 5px 0px 
		border-style: solid 
		border-color: #3b5d69
		margin: 0
		padding: 15px 0
		display: block
	nav.js
		display: none
	nav:hover ul
		display: block
	li.dot
		display: none

