/**
*
* Media query functions to help output content conditonally based on screen width.
*
**/



//----------------------------------*\
// MIN-WIDTH
//----------------------------------*/

// Phone Landscape Up
@mixin mq-min-small {
    @if $m-query {
        @if $m-query <= $mq-min-small {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $mq-min-small) {
            @content;
        }
    }
}

// Tablets Up
@mixin mq-min-medium {
    @if $m-query {
        @if $m-query <= $mq-min-medium {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $mq-min-medium) {
            @content;
        }
    }
}

// Desktops Up
@mixin mq-min-large {
    @if $m-query {
        @if $m-query <= $mq-min-large {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $mq-min-large) {
            @content;
        }
    }
}

// Large Screens Up
@mixin mq-min-xlarge {
    @if $m-query {
        @if $m-query <= $mq-min-xlarge {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $mq-min-xlarge) {
            @content;
        }
    }
}

//----------------------------------*\
// MAX-WIDTH
//----------------------------------*/

// Phone Portrait Down
@mixin mq-max-mini {
    @if $m-query {
        @if $m-query <= $mq-max-mini {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $mq-max-mini) {
            @content;
        }
    }
}

// Phone Landscape Down
@mixin mq-max-small {
    @if $m-query {
        @if $m-query <= $mq-max-small {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $mq-max-small) {
            @content;
        }
    }
}

// Tablet Portrait Down
@mixin mq-max-medium {
    @if $m-query {
        @if $m-query <= $mq-max-medium {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $mq-max-medium) {
            @content;
        }
    }
}

// Desktops Down
@mixin mq-max-large {
    @if $m-query {
        @if $m-query <= $mq-max-large {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $mq-max-large) {
            @content;
        }
    }
}

//----------------------------------*\
// MISC QUERIES
//----------------------------------*/

// Tablet Portrait Only
@mixin mq-portrait {
    @if $m-query {
        @if $m-query <= $mq-min-medium {
            @content;
        }
    }
    @else {
        @media screen and (min-device-width: $mq-min-medium) and (max-device-width: $mq-max-medium) and (orientation: portrait) {
	        @content;
	    }
    }
}

// Tablet Landscape Only
@mixin mq-landscape {
    @if $m-query {
        @if $m-query <= $mq-min-medium {
            @content;
        }
    }
    @else {
        @media screen and (min-device-width: $mq-min-medium) and (max-device-width: 1024px) and (orientation: landscape) {
	        @content;
	    }
    }
}