/**
*
* Font mixins to be used on the site. This is handy especially when utilizing third party services like typekit or fonts.com
* Start all font mixins with 'font-'
*
**/

@mixin font($family: sans-serif, $weight: normal) {
	// FF Tisa Web Pro
	@if $family == "font-tisa" {
		font-family: "ff-tisa-web-pro", serif;
		font-style: normal;
		@extend %font-smoothing;
	}
	// Brandon Grotesque
	@if $family == "font-brandon" {
		font-family: "Brandon-Grotesque", sans-serif;
	}
	// Generic Font Stack
	@if $family == "font-generic" {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	font-weight: $weight;
}