// Clear Function
%cf {
	zoom: 1;
	&:before,
	&:after {content: ""; display: table;} 
	&:after {clear: both;}	
}

// Font Smoothing
%font-smoothing {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

// Alpha Transparency
@mixin rgba($color, $alpha) {
    $rgba: rgba($color, $alpha);
    $ie-hex-str: ie-hex-str($rgba);
    background-color: transparent;
    background-color: $rgba;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
    zoom: 1;
}

// max-width
%row {
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
	@extend %horizontal-padding;
	@extend %vertical-padding;
}

// Horizontal Site Padding
%horizontal-padding {
	padding-left: $gutter-small-horizontal;
    padding-right: $gutter-small-horizontal;

    @include mq-min-medium {
        padding-left: $gutter-medium-horizontal;
        padding-right: $gutter-medium-horizontal;
    }

    @include mq-min-xlarge {
        padding-left: $gutter-large-horizontal;
        padding-right: $gutter-large-horizontal;
    }
}

// Vertical Site Padding
%vertical-padding {
	padding-top: $gutter-small-vertical;
    padding-bottom: $gutter-small-vertical;

    @include mq-min-medium {
        padding-top: $gutter-medium-vertical;
        padding-bottom: $gutter-medium-vertical;
    }

    @include mq-min-xlarge {
        padding-top: $gutter-large-vertical;
        padding-bottom: $gutter-large-vertical;
    }
}