// Base styling utilized on the site. Extend upon these to achieve the effect you require.

// Box Sizing
*, *:before, *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

// Clear Function
.cf:before, .cf:after
	content: ""
	display: table
.cf:after
	clear: both
.cf
	zoom: 1

// General
body
	background: $color-body-blue
	font-size: 16px
	color: #000
	margin: 0 auto
	color: #fff
	
h1, h2, h3, h4, h5, h6
	position: relative
	line-height: $headline-line-height
	margin-bottom: $headline-bottom-margin
	@include font("font-house-slant")

	a
		color: $color-href



h1
	font-size: ($h1-font-size * .75)
	@include mq-min-medium
		font-size: ($h1-font-size * .80)

	@include mq-min-large
		font-size: $h1-font-size

	@include mq-min-xlarge
		font-size: ($h1-font-size)


h2
	color: #fff
	text-transform: uppercase
	font-size: ($h2-font-size * .75)
	@include mq-min-medium
		font-size: ($h2-font-size * .80)

	@include mq-min-large
		font-size: $h2-font-size

	@include mq-min-xlarge
		font-size: ($h2-font-size)


h3
	text-transform: uppercase
	font-size: ($h3-font-size * .75)
	@include mq-min-medium
		font-size: ($h3-font-size * .80)

	@include mq-min-large
		font-size: $h3-font-size

	@include mq-min-xlarge
		font-size: $h3-font-size


h4
	text-transform: uppercase
	font-size: ($h4-font-size * .75)
	@include mq-min-medium
		font-size: ($h4-font-size * .80)

	@include mq-min-large
		font-size: $h4-font-size

	@include mq-min-xlarge
		font-size: ($h4-font-size)


h5
	font-size: ($h5-font-size * .75)
	@include mq-min-medium
		font-size: ($h5-font-size * .80)

	@include mq-min-large
		font-size: $h5-font-size

	@include mq-min-xlarge
		font-size: ($h5-font-size)


h6
	font-size: $h6-font-size

p
	font-size: $paragraph-font-size
	line-height: 1.5em
	margin-bottom: $paragraph-bottom-margin
	color: #fff
	@include font("chaparral-pro-display")
	@include font-smoothing
	@include mq-min-xlarge
		font-size: em(18)
	a
		color: $color-href-hover

a
	color: $color-href
	text-decoration: none
	&:hover
		color: $color-href-hover


ul, ol, dd
	line-height: 1.5em

img
	max-width: 100%
	height: auto
strong
	font-weight: bold
em
	font-style: italic

//flexbox 
// .flexwrap, .fwmain
// 	display: flex
// 	flex-flow: row wrap

// .events, .mysterybox, .follow
// 	flex: 1 100%
// @media all and (min-width: $mq-min-medium)
// 	.mysterybox, .follow
// 		flex: 1 auto
// @media all and (min-width: $mq-min-large)
// 	.events
// 		flex: 2 auto
// 	.events
// 		order: 1
// 	.mysterybox
// 		order: 2
// 	.follow
// 		order: 3