//Define and include @font-face in here or other outside services for fonts.

@font-face 
	font-family: "House Slant"
	src: url('HouseSlant.eot')
	src: url("HouseSlant.eot?#iefix") format("embedded-opentype"), url("HouseSlant.woff") format("woff")
	font-style: normal
	font-weight: 400
	font-stretch: normal
