*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before, .cf:after {content: ""; display: table;} 
.cf:after {clear: both;}
.cf {zoom: 1;}