.container {
	width: 100%;
	padding: 2em;
	margin: 0 auto;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	background: #e7ebec;
	border-radius: 5px;

	@include mq-min-medium {
		width: 700px;
	}

	h2 {
	font-size: 1.5em;
	font-weight: normal;
	color: #3c3f48;
	line-height: 1.2em;
	margin-bottom: .625em;
}

p {
	line-height: 1.5em;
	margin-bottom: 2em;
}

span {
	display: block;
	position: relative;
	margin-top: 1.5em;
	color: #e15a00;
	font-size: .95em;

	&:after {
		background: #34323e;
		display: block;
		content: "";
		color: #8a909c;
		margin-top: 5px;
		border-radius: 3px;
		padding: 10px 20px;
		font-size: .95em;
	}
}
}



.device-on {
	&:after {

		@include mq-min-small {
			content: " 'mq-min-small' phone landscape and greater (>=480px)"
		}

		@include mq-portrait {
			content: " 'mq-portrait' tablet portrait mode (768px-960px)"
		}

		@include mq-landscape {
			content: " 'mq-landscape' tablet landscape mode (768px-1024px)"
		}

		@include mq-min-medium {
			content: " 'mq-min-medium' tablet and greater (>=768px)"
		}

		@include mq-min-large {
			content: " 'mq-min-large' desktop and greater (>=960px)"
		}

		@include mq-min-xlarge {
			content: " 'mq-min-xlarge' large screen and greater (>=1440px)"
		}
	}
}


.style-for {
	&:after {

		@include mq-max-large {
			content: " 'mq-max-large' desktop down (<=1439px)"
		}

		@include mq-max-medium {
			content: " 'mq-max-medium' tablet portrait down (<=969)"
		}

		@include mq-max-small {
			content: " 'mq-max-small' phone landscape down (<=767px)"
		}

		@include mq-max-mini {
			content: " 'mq-max-mini' phone portrait down (<=474px)"
		}
	}
}