
//Font mixins to be used on the site. This is handy especially when utilizing third party services like typekit or fonts.com
//Start all names with 'font-' .... couple examples to get you started with.



// Generic Font Stack
@mixin font-generic
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
	font-weight: normal
	@include font-smoothing


@mixin font($family: sans-serif, $weight: normal)
	// Generic Font Stack
	@if $family == "font-generic"
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

	// FF Tisa Web Pro
	@if $family == "font-tisa"
		font-family: "ff-tisa-web-pro", serif
		font-style: normal
		@include font-smoothing

	// Brandon Grotesque
	@if $family == "font-brandon"
		font-family: "Brandon-Grotesque", sans-serif
		font-weight: $weight

	// Chaparral or Georgia
	@if $family == "chaparral-pro-display"
		font-family: "chaparral-pro-display", "Georgia", serif
		font-weight: $weight
		@include font-smoothing

	// House Slant
	@if $family == "font-house-slant"
		font-family: "House Slant", script
		font-style: normal
		font-weight: 400
		font-stretch: normal
		text-rendering: optimizeLegibility

	//Bebas Neue
	@if $family == "font-bebas-neue"
		font-family: "bebas-neue"
		font-style: normal
		font-weight: 400
		@include font-smoothing

	//Komika Axis
	@if $family == "komika_axisregular"
		font-family: "komika_axisregular"
		src: url('KOMIKAX_-webfont.eot')
		src: url('KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype')
		src: url('KOMIKAX_-webfont.woff') format('woff')
		src: url('KOMIKAX_-webfont.ttf') format('truetype')
		src: url('KOMIKAX_-webfont.svg#komika_axisregular') format('svg')
		font-weight: normal
		font-style: normal