// Responsive grid structure.

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: $max-width;
  .columns,
  &.columns {
    padding-left: 10px;
    padding-right: 10px;
    @include mq-min-medium {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
  [class*='col-'] {
    float: left;
  }
  // make all columns 100% on phones
  @include mq-max-small {
    [class*='col-'] {
      float: none;
      width: 100%;
    }
  }
}
