// Font mixins to be used on the site. This is handy especially when utilizing third party services like typekit or fonts.com
// Start all names with 'font-' .... couple examples to get you started with.

// Generic Font Stack
@mixin font-generic {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  @include font-smoothing;
}

@mixin font($family: sans-serif, $weight: normal) {
  // Generic Font Stack
  @if $family == "font-generic" {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  // FF Tisa Web Pro
  @if $family == "font-tisa" {
    font-family: "ff-tisa-web-pro", serif;
    font-style: normal;
    @include font-smoothing;
  }
  // Brandon Grotesque
  @if $family == "font-brandon" {
    font-family: "Brandon-Grotesque", sans-serif;
  }
  font-weight: $weight;
}
