/**
*
* Custom styling utilized for blog and any other content pages where the client inputs their own content through an editor.
*
**/

.custom {
	// Your CSS in here

	ul, ol {
		margin-bottom: 2.25em;
		margin-left: 50px;

		ul, ol {
			margin-left: 30px;

			li {
				font-size: 18px;
			}
		}

		ul li {
			list-style-type: square;
		}
	}

	li {
		line-height: 1.5em;
		font-size: 20px;
		margin-bottom: 5px;

		p {
			font-size: inherit;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	h2 {
		color: $color-orange;
	}

	h3, h4 {
		color: $color-blue;
	}

	strong {
		font-weight: bold;
	}

	p+h2, 
	p+h3,
	p+h4,
	p+h5 {
		margin-top: 40px;
	}

}