/**
*
* Styling that applies only to the header of the site.
*
**/

header {
	background: $color-blue;
	margin-bottom: 3em;

	.row {
		@extend %horizontal-padding;
	}

	h1 {
		color: #FFF;
		margin-bottom: 0;
		@extend %vertical-padding;
	}
}