/**
*
* Styling that applies only to the global navigation of the site.
*
**/

nav {
	@include rgba(#FFF, .7);
	border-radius: 4px;
	padding: 20px;

	@include mq-min-medium {
		float: left;
		width: 18%;
	}
	
	ul {
		@extend %cf;

		li {
			line-height: 1.5em;

			>ul {
				padding-left: 20px;
			}
		}

		a {
			@include font(font-brandon);
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: $color-orange;
			}
		}
	}
}