/* 	Theme Name: Mama Jean's
 * Theme URL: http://www.40digits.com
 * Description: Site description
 * Author: 40Digits
 * Author URI: http://40digits.com
 * Version: 1.0 */
/* line 17, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "House Slant";
  src: url("HouseSlant.eot");
  src: url("HouseSlant.eot?#iefix") format("embedded-opentype"), url("HouseSlant.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

/* line 4, sass/modules/_defaults.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, sass/modules/_defaults.sass */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 13, sass/modules/_defaults.sass */
.cf:after {
  clear: both;
}

/* line 15, sass/modules/_defaults.sass */
.cf {
  zoom: 1;
}

/* line 19, sass/modules/_defaults.sass */
body {
  background: #3b5d69;
  font-size: 16px;
  color: black;
  margin: 0 auto;
  color: white;
}

/* line 26, sass/modules/_defaults.sass */
h1, h2, h3, h4, h5, h6 {
  position: relative;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  font-family: "House Slant", script;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
}
/* line 32, sass/modules/_defaults.sass */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: white;
}

/* line 37, sass/modules/_defaults.sass */
h1 {
  font-size: 1.66406em;
  font-size: 2.21875em;
  font-size: 2.21875em;
}

/* line 49, sass/modules/_defaults.sass */
h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1.17188em;
  font-size: 1.5625em;
  font-size: 1.5625em;
}

/* line 63, sass/modules/_defaults.sass */
h3 {
  text-transform: uppercase;
  font-size: 2.77359em;
  font-size: 3.69813em;
  font-size: 3.69813em;
}

/* line 76, sass/modules/_defaults.sass */
h4 {
  text-transform: uppercase;
  font-size: 1.66406em;
  font-size: 2.21875em;
  font-size: 2.21875em;
}

/* line 89, sass/modules/_defaults.sass */
h5 {
  font-size: 0.84375em;
  font-size: 1.125em;
  font-size: 1.125em;
}

/* line 101, sass/modules/_defaults.sass */
h6 {
  font-size: 1em;
}

/* line 104, sass/modules/_defaults.sass */
p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 1.25em;
  color: white;
  font-family: "chaparral-pro-display", "Georgia", serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 1.125em;
}
/* line 113, sass/modules/_defaults.sass */
p a {
  color: #84d0f0;
}

/* line 116, sass/modules/_defaults.sass */
a {
  color: white;
  text-decoration: none;
}
/* line 119, sass/modules/_defaults.sass */
a:hover {
  color: #84d0f0;
}

/* line 123, sass/modules/_defaults.sass */
ul, ol, dd {
  line-height: 1.5em;
}

/* line 126, sass/modules/_defaults.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 129, sass/modules/_defaults.sass */
strong {
  font-weight: bold;
}

/* line 131, sass/modules/_defaults.sass */
em {
  font-style: italic;
}

/* line 5, sass/modules/_responsive-grid.sass */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 65.625em;
}
/* line 13, sass/modules/_responsive-grid.sass */
.row .columns, .row.columns {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 24, sass/modules/_responsive-grid.sass */
.row .col-1 {
  width: 8.33333%;
}
/* line 26, sass/modules/_responsive-grid.sass */
.row .col-2 {
  width: 16.66667%;
}
/* line 28, sass/modules/_responsive-grid.sass */
.row .col-3 {
  width: 25%;
}
/* line 30, sass/modules/_responsive-grid.sass */
.row .col-4 {
  width: 33.33333%;
}
/* line 32, sass/modules/_responsive-grid.sass */
.row .col-5 {
  width: 41.66667%;
}
/* line 34, sass/modules/_responsive-grid.sass */
.row .col-6 {
  width: 50%;
}
/* line 36, sass/modules/_responsive-grid.sass */
.row .col-7 {
  width: 58.33333%;
}
/* line 38, sass/modules/_responsive-grid.sass */
.row .col-8 {
  width: 66.66667%;
}
/* line 40, sass/modules/_responsive-grid.sass */
.row .col-9 {
  width: 75%;
}
/* line 42, sass/modules/_responsive-grid.sass */
.row .col-10 {
  width: 83.33333%;
}
/* line 44, sass/modules/_responsive-grid.sass */
.row .col-11 {
  width: 91.66667%;
}
/* line 46, sass/modules/_responsive-grid.sass */
.row .col-12 {
  width: 100%;
}
/* line 49, sass/modules/_responsive-grid.sass */
.row [class*='col-'] {
  float: left;
}

/* line 2, sass/partials/_header.sass */
header {
  margin: 0 auto;
  background-color: #235e75;
  clear: both;
}
/* line 7, sass/partials/_header.sass */
header .divider {
  height: 5px;
  border-width: 1px 0;
  border-color: #93b264;
}
/* line 12, sass/partials/_header.sass */
header div {
  margin: 0 auto;
}

/* line 16, sass/partials/_header.sass */
.store-open .oc-message, .store-open .oc-border {
  background-color: #abc460;
}

/* line 19, sass/partials/_header.sass */
.store-closed .oc-message, .store-closed .oc-border {
  background-color: #d03226;
}

/* line 23, sass/partials/_header.sass */
.oc-message h2 {
  color: #235e75;
  margin: 0 auto;
  text-align: center;
}

/* line 27, sass/partials/_header.sass */
.oc-border {
  height: 8px;
}

/* line 3, sass/partials/_nav.sass */
.branding-nav {
  background-color: #235e75;
  width: 1050px;
}
/* line 6, sass/partials/_nav.sass */
.branding-nav img {
  float: left;
  margin: 6px 8px;
}
/* line 9, sass/partials/_nav.sass */
.branding-nav .search {
  float: right;
  margin-top: 20px;
}

/* line 12, sass/partials/_nav.sass */
nav {
  margin: 0 auto;
  max-width: 1050px;
}
/* line 15, sass/partials/_nav.sass */
nav li {
  font-size: 2.21875em;
  color: white;
  text-transform: uppercase;
  font-family: "House Slant", script;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
}
/* line 21, sass/partials/_nav.sass */
nav li a:hover {
  color: #84d0f0;
}

/* line 23, sass/partials/_nav.sass */
.headnav {
  display: inline-block;
  margin-top: 35px;
  margin-left: 1.9%;
}
/* line 27, sass/partials/_nav.sass */
.headnav li {
  float: left;
}

/* line 31, sass/partials/_nav.sass */
.footnav ul {
  margin: 0 auto;
}
/* line 34, sass/partials/_nav.sass */
.footnav li {
  float: left;
  list-style: none;
  font-size: 2.21875em;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* line 40, sass/partials/_nav.sass */
#menu-icon {
  display: none;
  width: 34px;
  height: 34px;
  background: url("images/menu-dropdown.png") center;
}

/* line 45, sass/partials/_nav.sass */
.dot:last-of-type {
  display: none;
}

/* line 3, sass/partials/_footer.sass */
footer {
  width: 100%;
  margin: 0 auto;
  background-color: #235e75;
}
/* line 8, sass/partials/_footer.sass */
footer img {
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  clear: both;
}

/* line 13, sass/partials/_footer.sass */
.copyright {
  background-color: #3e7890;
  width: 100%;
}
/* line 16, sass/partials/_footer.sass */
.copyright p {
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

/* line 8, sass/partials/_wysiwyg.sass */
.wysiwyg-content ul, .wysiwyg-content ol {
  margin-bottom: 1.625em;
  padding-left: 2em;
}
/* line 13, sass/partials/_wysiwyg.sass */
.wysiwyg-content li {
  line-height: 1.5em;
}
/* line 17, sass/partials/_wysiwyg.sass */
.wysiwyg-content ol {
  list-style-type: decimal;
}
/* line 21, sass/partials/_wysiwyg.sass */
.wysiwyg-content ul {
  list-style-type: disc;
}

/* line 2, sass/app/_app.sass */
.inner-section {
  margin: 0 auto;
  max-width: 65.625em;
  width: 100%;
  padding: 0 10px;
}

/* line 7, sass/app/_app.sass */
.divider {
  width: 100%;
  height: 5px;
  margin: 10px 0;
}

/* line 11, sass/app/_app.sass */
.green {
  background-color: #abc460;
}

/* line 13, sass/app/_app.sass */
.grey {
  background-color: #858a8f;
}

/* line 15, sass/app/_app.sass */
.white {
  background-color: white;
}

/* line 17, sass/app/_app.sass */
.orange {
  color: #ff961a;
}

/* line 19, sass/app/_app.sass */
.red {
  color: #d03226;
}

/* line 21, sass/app/_app.sass */
.sky-blue {
  color: #84d0f0;
}

/* line 23, sass/app/_app.sass */
.no-margin {
  margin: 0;
  margin-before: 0;
  margin-after: 0;
}

/* line 27, sass/app/_app.sass */
.v-left {
  float: left;
  padding: 15px;
  margin-right: 17px;
  width: 48%;
  border-right: 5px solid #858a8f;
}

/* line 33, sass/app/_app.sass */
.v-right {
  float: left;
  width: 48%;
  padding-top: 15px;
}

/* line 37, sass/app/_app.sass */
.call {
  font-family: "chaparral-pro-display", "Georgia", serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 39, sass/app/_app.sass */
.call a {
  color: white;
}

/* line 41, sass/app/_app.sass */
.bebas-neue {
  font-family: "bebas-neue";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 44, sass/app/_app.sass */
article header {
  background-color: #3b5d69;
}

/* line 54, sass/app/_app.sass */
.tagline {
  background-color: #151f22;
}
/* line 56, sass/app/_app.sass */
.tagline h3 {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

/* line 61, sass/app/_app.sass */
.slider img {
  margin-bottom: 10px;
}

/* line 63, sass/app/_app.sass */
.features {
  margin: 0 auto;
  width: 100%;
}
/* line 66, sass/app/_app.sass */
.features li {
  float: left;
  margin: 6px 8px;
}

/* line 69, sass/app/_app.sass */
.events {
  background-color: #cfe1dd;
  border-right: none;
}
/* line 73, sass/app/_app.sass */
.events h2 {
  color: #235e75;
}
/* line 75, sass/app/_app.sass */
.events h3 {
  margin-bottom: 0px;
}
/* line 77, sass/app/_app.sass */
.events h4 {
  display: inline;
}
/* line 79, sass/app/_app.sass */
.events a {
  color: #235e75;
}
/* line 81, sass/app/_app.sass */
.events img {
  margin-left: 8px;
}
/* line 83, sass/app/_app.sass */
.events article {
  margin-bottom: 30px;
}
/* line 85, sass/app/_app.sass */
.events article h3 {
  color: #d1372a;
  display: block;
}
/* line 88, sass/app/_app.sass */
.events article h4 {
  color: #454444;
  margin: 5px 0;
}
/* line 91, sass/app/_app.sass */
.events article p {
  color: #454444;
}

/* line 95, sass/app/_app.sass */
.events-right h3 {
  margin-bottom: 0;
}

/* line 97, sass/app/_app.sass */
.mysterybox {
  background-color: black;
  height: 325px;
}

/* line 100, sass/app/_app.sass */
.newsletter {
  padding: 5px 15px;
}

/* line 102, sass/app/_app.sass */
.follow {
  padding: 5px 15px;
}
/* line 104, sass/app/_app.sass */
.follow img {
  margin-right: 20px;
}

/* line 132, sass/app/_app.sass */
h3.department-header {
  color: #d03226;
  background-color: #84d0f0;
  line-height: 72px;
  padding-left: 1.9%;
}

/* line 137, sass/app/_app.sass */
.department-list {
  padding-bottom: 40px;
}
/* line 139, sass/app/_app.sass */
.department-list ul {
  margin: 0 auto;
  width: 97.175%;
}
/* line 142, sass/app/_app.sass */
.department-list li {
  float: left;
  margin-right: 10px;
}
/* line 145, sass/app/_app.sass */
.department-list li:nth-of-type(3n) {
  margin-right: 0;
}
/* line 149, sass/app/_app.sass */
.department-list h4 {
  font-size: 2.21875em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -39px;
  margin-bottom: 15px;
}

/* line 183, sass/app/_app.sass */
.deli {
  position: relative;
}
/* line 185, sass/app/_app.sass */
.deli img {
  float: left;
  position: absolute;
  top: 15px;
  left: -7px;
}

/* line 190, sass/app/_app.sass */
.d-location {
  float: right;
  width: 90%;
  text-align: center;
  padding: 26px;
  padding-left: 40%;
  background-color: #1d2e34;
  margin-top: 113px;
  margin-bottom: 125px;
}
/* line 199, sass/app/_app.sass */
.d-location h4 {
  font-family: "bebas-neue";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 201, sass/app/_app.sass */
.d-location h4, .d-location p {
  font-size: 2.21875em;
}
/* line 203, sass/app/_app.sass */
.d-location h4 {
  color: #84d0f0;
}
/* line 205, sass/app/_app.sass */
.d-location p {
  float: left;
  margin: 0 auto;
  margin-right: 1.75%;
  line-height: 1em;
}
/* line 210, sass/app/_app.sass */
.d-location a {
  font-size: 24px;
}
/* line 213, sass/app/_app.sass */
.d-location a.orange {
  font-size: 1.25em;
  font-family: "bebas-neue";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 217, sass/app/_app.sass */
.express .d-location {
  width: 62%;
  margin-top: 0px;
  padding-left: 25%;
}
/* line 221, sass/app/_app.sass */
.express img {
  top: -80px;
  left: 250px;
}
/* line 224, sass/app/_app.sass */
.express a.orange {
  padding-right: 85px;
}

/* line 226, sass/app/_app.sass */
.our-deli {
  background-color: #1d2e34;
  padding: 10px 5px;
  margin-bottom: 20px;
}

/* line 230, sass/app/_app.sass */
.food-feed {
  padding-left: 8px;
  width: 55%;
  border: none;
  margin-right: 0;
}
/* line 235, sass/app/_app.sass */
.food-feed img {
  margin: 0;
}

/* line 237, sass/app/_app.sass */
.specials {
  border-left: 5px solid #858a8f;
  width: 43%;
  padding-left: 17px;
}
/* line 241, sass/app/_app.sass */
.specials img {
  margin-bottom: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 247, sass/app/_app.sass */
.deli .divider, .specials .divider {
  display: none;
  background-color: #ff961a;
}

/* line 358, sass/app/_app.sass */
.google-maps-placeholder {
  margin-bottom: 27px;
}

/* line 360, sass/app/_app.sass */
.location {
  position: relative;
}
/* line 362, sass/app/_app.sass */
.location header {
  width: 48%;
  display: inline-block;
  text-align: center;
  clear: none;
}
/* line 367, sass/app/_app.sass */
.location header h4:first-child {
  margin-top: 50px;
}
/* line 369, sass/app/_app.sass */
.location h3 {
  display: inline;
  position: absolute;
  text-align: right;
  top: 220px;
  left: 27.6%;
  font-family: "komika_axisregular";
  src: url("KOMIKAX_-webfont.eot");
  src: url("KOMIKAX_-webfont.eot?#iefix") format("embedded-opentype");
  src: url("KOMIKAX_-webfont.woff") format("woff");
  src: url("KOMIKAX_-webfont.ttf") format("truetype");
  src: url("KOMIKAX_-webfont.svg#komika_axisregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 376, sass/app/_app.sass */
.location p {
  margin: 15px 0px;
  font-size: 1.479em;
}
/* line 379, sass/app/_app.sass */
.location h4 {
  font-size: 2.21875em;
  display: inline-block;
}

/* line 382, sass/app/_app.sass */
.location-img {
  width: 50.47%;
  display: inline;
  float: left;
}

/* line 386, sass/app/_app.sass */
.location-nav {
  margin: 0 auto;
  margin-left: 30px;
}
/* line 389, sass/app/_app.sass */
.location-nav a {
  float: left;
  margin-right: 10px;
  font-size: 2.21875em;
  font-family: "House Slant", script;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  background-repeat: no-repeat;
  height: 47px;
  padding-top: 5px;
}
/* line 397, sass/app/_app.sass */
.location-nav a:first-of-type {
  margin-right: 5.7%;
  color: #ff961a;
  background-image: url("images/red-arrow-left.png");
  background-position: left top 5px;
  padding-left: 55px;
}
/* line 403, sass/app/_app.sass */
.location-nav a:nth-of-type(2) {
  background-image: url("images/red-arrow-right.png");
  background-position: right;
  padding-right: 60px;
}

/* line 445, sass/app/_app.sass */
.resource h1 {
  border-bottom: 5px solid #858a8f;
}
/* line 447, sass/app/_app.sass */
.resource h2 {
  margin-top: 60px;
  text-transform: none;
  font-family: "chaparral-pro-display", "Georgia", serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: 600;
}
/* line 453, sass/app/_app.sass */
.resource .v-right h2 {
  margin-top: 27px;
}

/* line 455, sass/app/_app.sass */
.download-img {
  margin: 35px 15px;
}
/* line 457, sass/app/_app.sass */
.download-img img {
  float: left;
  width: 29%;
}
/* line 460, sass/app/_app.sass */
.download-img h2 {
  display: inline;
  margin-left: 50px;
  font-size: 2.21875em;
}
/* line 464, sass/app/_app.sass */
.download-img h2:nth-of-type(2n+1) {
  padding-top: 20px;
}
/* line 466, sass/app/_app.sass */
.download-img a {
  color: #84d0f0;
}

/* line 471, sass/app/_app.sass */
.blog h1 {
  font-size: 3.69813em;
}
/* line 473, sass/app/_app.sass */
.blog h3 {
  font-size: 2.21875em;
}
/* line 475, sass/app/_app.sass */
.blog .v-divide {
  border-bottom: 5px solid #858a8f;
}
/* line 477, sass/app/_app.sass */
.blog .v-left {
  width: 78%;
  margin-right: 0px;
  padding-right: 20px;
}
/* line 481, sass/app/_app.sass */
.blog .v-right {
  width: 18.095%;
}
/* line 483, sass/app/_app.sass */
.blog .v-right h3 {
  background-color: #cfe1dd;
  color: #3b5d69;
  text-align: center;
}
/* line 487, sass/app/_app.sass */
.blog .v-right li {
  margin-left: 20px;
  margin-bottom: 75px;
}
/* line 490, sass/app/_app.sass */
.blog .v-right p {
  font-size: 0.8em;
}
/* line 493, sass/app/_app.sass */
.blog aside {
  padding-bottom: 40px;
}
/* line 495, sass/app/_app.sass */
.blog aside li {
  float: left;
  margin-left: 20px;
}

/* line 514, sass/app/_app.sass */
.results {
  width: 73%;
}

/* line 516, sass/app/_app.sass */
.pop-search {
  width: 23.8%;
}
/* line 518, sass/app/_app.sass */
.pop-search h4 {
  padding-left: 32px;
}
/* line 520, sass/app/_app.sass */
.pop-search li {
  font-family: "House Slant", script;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  font-size: 1.25em;
  margin-bottom: 45px;
}
/* line 524, sass/app/_app.sass */
.pop-search li a {
  color: #84d0f0;
}

/* line 526, sass/app/_app.sass */
.search-form {
  height: 60px;
  margin-top: 75px;
  margin-bottom: 50px;
}

/* line 530, sass/app/_app.sass */
.search-field {
  font-family: "House Slant", script;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  font-size: 2.21875em;
  width: 69%;
  height: 60px;
  background-color: #efedee;
  border: none;
  padding-left: 15px;
  padding-top: 15px;
  color: #858a8f;
}

/* line 540, sass/app/_app.sass */
.search-submit {
  width: 38px;
  height: 40px;
  background-image: url("images/search-bar.png");
  border: none;
  background-color: #efedee;
  margin-left: -50px;
}

/* line 547, sass/app/_app.sass */
#clear {
  display: hidden;
}

/* line 551, sass/app/_app.sass */
.sales {
  width: 67.5%;
}
/* line 553, sass/app/_app.sass */
.sales div {
  margin-bottom: 6px;
}
/* line 555, sass/app/_app.sass */
.sales div article {
  width: 169px;
  height: 250px;
  float: left;
  margin-right: 5px;
}
/* line 561, sass/app/_app.sass */
.sales div article:nth-of-type(4n) {
  margin-right: 0;
}
/* line 564, sass/app/_app.sass */
.sales div header {
  color: #3b5d69;
  font-size: 2.21875em;
  padding: 12px 0 12px 1.25em;
  font-family: "House Slant", script;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 5px;
}
/* line 570, sass/app/_app.sass */
.sales div ul {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -70px;
}
/* line 573, sass/app/_app.sass */
.sales div li {
  font-family: "chaparral-pro-display", "Georgia", serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 14px;
  line-height: 1.25em;
}
/* line 577, sass/app/_app.sass */
.sales div li:first-child {
  font-weight: bold;
}
/* line 580, sass/app/_app.sass */
.sales div:first-of-type header {
  background-color: #d03226;
}
/* line 583, sass/app/_app.sass */
.sales div:nth-of-type(2) header {
  background-color: #ff961a;
}
/* line 586, sass/app/_app.sass */
.sales div:nth-of-type(3) header {
  background-color: #abc460;
}
/* line 589, sass/app/_app.sass */
.sales div:nth-of-type(4) header {
  background-color: #84d0f0;
}
/* line 592, sass/app/_app.sass */
.sales div:nth-of-type(5) header {
  background-color: #cfe1dd;
}
/* line 594, sass/app/_app.sass */
.sales .sales-hide-grocery, .sales .sales-hide-supplements, .sales .sales-hide-personal, .sales .sales-hide-beer, .sales .sales-hide-bulk {
  display: none;
}
/* line 597, sass/app/_app.sass */
.sales .sales-hide-grocery:active div, .sales .sales-hide-supplements:active div, .sales .sales-hide-personal:active div, .sales .sales-hide-beer:active div, .sales .sales-hide-bulk:active div {
  display: block;
}

/* line 601, sass/app/_app.sass */
.event-page {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* line 604, sass/app/_app.sass */
.event-page header {
  background-image: url("images/events-ribbon.png");
  background-repeat: no-repeat;
  background-color: #3b5d69;
  color: #cfe1dd;
  height: 128px;
  padding-top: 23px;
  padding-left: 50px;
  float: left;
  width: 100%;
  z-index: 1000;
}

/* line 615, sass/app/_app.sass */
.event-page .events {
  width: 67%;
  display: inline-block;
  margin-left: 21px;
  margin-top: -143px;
  padding-top: 197px;
  z-index: 10;
  float: left;
}
/* line 625, sass/app/_app.sass */
.event-page .events article {
  padding-left: 34px;
  margin-bottom: 85px;
}
/* line 628, sass/app/_app.sass */
.event-page .events span {
  color: #d03226;
}

/* line 631, sass/app/_app.sass */
.living-room {
  display: inline-block;
  width: 29%;
  padding-left: 22px;
}
/* line 635, sass/app/_app.sass */
.living-room img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
